# Welcome to Jupyter!

---
*Introduction to Image Analysis Workshop*

*Stefania Marcotti (stefania.marcotti@kcl.ac.uk)*

*Intro to variables and arrays with Python*

*CC-BY-SA-4.0 license: creativecommons.org/licenses/by-sa/4.0/*

---

We are going to cover here some foundational concepts about variables, arrays, and loops, before delving into images in the next notebook.

## Variables

We can use any Python interpreter as a calculator

In [ ]:
3 + 2 * 5

This is great but not very interesting. To do anything useful with data, we need to assign its value to a variable. For example, we can assign the value `60` to the variable `weight_kg` and the value `1.7` to the variable `height_m`:

In [ ]:
weight_kg = 60
height_m = 1.7

In [ ]:
print('The weight in kilograms is', weight_kg, 'kg')
print('The height in meters is', height_m, 'm')

Or we could assign the string `Frida` to the variable `name`, and the string `Kahlo` to the variable `surname`:

In [ ]:
name = 'Frida'
surname = 'Kahlo'

In [ ]:
print('Their name is', name, surname)

Variables can have different types: they can be integers, floats, or strings

In [ ]:
type(weight_kg)

In [ ]:
type(height_m)

In [ ]:
type(name)

<div style="background-color:#ffe66d; border-radius: 5px; padding: 10pt"><strong>Note</strong> Not all operations are allowed on variables with different types!</div>

In [ ]:
weight_kg + name

<div style="background-color:#abd9e9; border-radius: 5px; padding: 10pt"><strong>Task</strong> Assign the value 25 to the variable <code>age</code> in the cell below - what type is this variable?</div>

We can perform operations between variables. For example, we could convert the weight from kg to lb:

In [ ]:
weight_lb = 2.2 * weight_kg

In [ ]:
print('The weight converted in pounds is', weight_lb)

Or create a new variable `full_name` that joins the `name` and `surname` with a space in the middle:

In [ ]:
full_name = name + ' ' + surname

In [ ]:
print('Their full name is', full_name)

<div style="background-color:#abd9e9; border-radius: 5px; padding: 10pt"><strong>Task</strong> Create a new variable named <code>height_cm</code> that converts the value of <code>height_m</code> from meters to centimeters. (Hint hint: you have to multiply by 100!) </div>

Variables can also be Boolean (`True`/`False`)

In [ ]:
condition_height = height_m > 1.9
print(condition_height)

In [ ]:
condition_weight = weight_kg > 10
print(condition_weight)

And we can test for equality with `==` and `!=` similarly to Fiji

In [ ]:
weight_lb == 2.2 * weight_kg

In [ ]:
weight_kg != weight_lb

## Arrays

Similarly to Fiji, we can store a series of datapoints in an array. There are many ways to do this in Python; however, today we are going to use [Numpy](https://numpy.org/), which is a package that makes scientific computing relatively easy.

When we want to use a module or a package in Python, we need to import it (we use the keywork `import`). We can also import specific functions by using the syntax [`from` module `import` function], if we only want to load a small subset of the available functions. Additionally, we can define aliases for modules' names with the keyword `as`.

In [ ]:
import numpy as np

We can create a 1-dimensional array `array1D` like this:

In [ ]:
array1D = np.array([2, 5, 8])
print(array1D)

In [ ]:
array1D_str = np.array(['a','b','c','d','e'])
print(array1D_str)

We can interrogate the length of the array with the keyword `len`:

In [ ]:
print('The array contains', len(array1D), 'values')
print('The array contains', len(array1D_str), 'letters')

And we can access specific positions of the array by using the `[]` notation. Please note that Python starts counting from zero!!

In [ ]:
print(array1D[0])
print(array1D[2])
print(array1D_str[0])
print(array1D_str[3])

<div style="background-color:#ffe66d; border-radius: 5px; padding: 10pt"><strong>Note</strong> We can only access elements within the bounds of the array</div>

In [ ]:
print(array1D[10])

We can also create arrays with more dimensions:

In [ ]:
array2D = np.array([[1, 2, 3], [5, 7, 11]])
print(array2D)

And interrogate their dimensions with the function `shape`:

In [ ]:
print('The array has these dimensions (rows, columns):', array2D.shape)

To access specific positions in a n-dimensional array, we need to specify n positions. For a 2-dimensional array, the first value specifies the row, while the second specifies the column.
![](./python-zero-index.svg)

In [ ]:
print(array2D[0,0])
print(array2D[1,2])

Otherwise the full row is returned:

In [ ]:
print(array2D[0])

We can rearrange the dimensions of an array by using the `numpy` function `transpose` (API [here](https://numpy.org/doc/stable/reference/generated/numpy.transpose.html)) :

In [ ]:
new_array2D = np.transpose(array2D)
print(new_array2D)

In [ ]:
print('The new array has these dimensions (rows, columns):', new_array2D.shape)

<div style="background-color:#abd9e9; border-radius: 5px; padding: 10pt"><strong>Task</strong> Create a new numerical array named <code>birthdays</code> where the first row contains the day, month, and year of your birthday, and the second row contains the day, month, and year of the person currently sitting next to you. Can you tell us how many years apart were you born? Were you born on the same month?</div>

### Loops

We might want to perform an operation multiple times, on all elements of an array or on all files in a folder, similarly to what we've seen in Fiji. To do this we have to setup a recurring operation with a `for` loop.

In [ ]:
array1D = np.array([2, 5, 8])

for element in array1D:
    print(element)

In [ ]:
array1D = np.array([2, 5, 8])

for l in range(len(array1D)):
    print('The element in position', l, 'is', array1D[l])

In [ ]:
array1D = np.array([2, 5, 8])

sum_elements = 0
for element in array1D:
    print('\nStarting value for sum for this iteration', sum_elements)
    sum_elements = sum_elements + element
    print('End value for sum for this iteration', sum_elements)

print('\nThe sum of all elements in the array is', sum_elements)

In [ ]:
array1D = np.array([2, 5, 8])

sum_elements = 0
for l in range(len(array1D)):
    print('\nStarting value for sum for iteration number', l, 'is', sum_elements)
    sum_elements = sum_elements + array1D[l]
    print('End value for sum for iteration number', l, 'is', sum_elements)

print('\nThe sum of all elements in the array is', sum_elements) 
print('The loop performed', len(array1D), 'iterations')

<div style="background-color:#abd9e9; border-radius: 5px; padding: 10pt"><strong>Task</strong> Write a loop that calculates the sum of elements in a numerical array by adding each element and printing the final value </div>

### Further reading
If you're interested in knowing more about basics of Python coding, there are a lot of free resources out there! A good one to start with, that inspired the content of this notebook, it's offered by the [Software Carpentries](https://software-carpentry.org/) and can be found [at this link](https://swcarpentry.github.io/python-novice-inflammation/).